<div class="container">
  <div class="row">
    <div class="col-md-6 add-file-box">
      {{> file-upload/create-file}}
    </div>
    <div class="col-md-6 recent-files-box">

    </div>
  </div>
  <div class="row">
    {{> scrollfile}}
  </div>
</div>
