<div class="scrollable">

  <!-- Nav tabs -->
  <ul class="file-tabs nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#myfiles" aria-controls="home" role="tab" data-toggle="tab">My Files</a></li>
    <li role="presentation"><a href="#allfiles" aria-controls="profile" role="tab" data-toggle="tab">All Files</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="scrollable-tab-content tab-content">
    <div role="tabpanel" class="tab-pane active" id="myfiles">
      <div class="myfiles-content">

        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="allfiles">
      <div class="all-files-content">

      </div>

    </div>
  </div>

</div>
