<h1 data-id="" class="create-file">Add File</h1>

  <form class="create-file">
    <fieldset>
      <input type="file" name="fileupload[file]">
      <input type="text" name="fileupload[title]" autocomplete="title" placeholder="File name" required>
      <input type="text" name="fileupload[tags]" autocomplete="tags" placeholder="Tags (ex. cat, dog)">
      <input class="button" type="submit" value="Upload File">
    </fieldset>
  </form>
