  <h1 data-id="" class="delete-file">Delete File</h1>

  <form class="delete-file">
    <fieldset>
      <input type="text" name="fileupload[id]">

      <input class="button" type="submit" value="Delete File">
    </fieldset>
  </form>
