<h1 data-id="" class="update-file">Update File</h1>

  <form class="update-file">
    <fieldset>
      <input type="text" name="fileupload[title]" autocomplete="title" placeholder="New file name" required>

      <input type="text" name="fileupload[tags]" autocomplete="tags" placeholder="Tags (ex. cat, dog)">

      <input class="button" type="submit" value="Update File">
    </fieldset>
  </form>
