<h4 data-id="" class="update-file">Update File</h4>

  <form class="update-file">
    <fieldset>
      <input type="text" name="fileupload[id]" autocomplete="id" placeholder="file ID" required value="{{fileId}}" style="display:none">
      <input type="text" name="fileupload[title]" autocomplete="title" placeholder="New file name" required>
      <input type="text" name="fileupload[tag]" autocomplete="tags" placeholder="Tags (ex. cat, dog)">

      <input type="radio" name="fileupload[publicFile]" value="true" checked="checked"><label >Public</label>

      <input type="radio" name="fileupload[publicFile]" value="false"><label>Private</label>

      <input class="button" type="submit" value="Update File">
    </fieldset>
  </form>
