body {
  min-height: 100vh;
}

.jumbotron {
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  -webkit-box-shadow: -4px 3px 100px 25px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: -4px 3px 100px 25px rgba(0, 0, 0, 0.65);
  box-shadow: -4px 3px 100px 25px rgba(0, 0, 0, 0.65);
}

.jumbotron-content {
  text-align: center;
}

.jumbotron-content h1 {
  margin-bottom: 50px;
}

.jumbotron-button button {
  margin-top: 20px;
  margin-bottom: 20px;
}
