body {
  background-position: center;
}

.add-file-box {
  background: #fff;
  padding: 15px;
  border-radius: 15px;
}

.jumbotron {
  border-radius: 15px;
}

.file-tabs {
  border-bottom: none;
}

.display-file {
  border-bottom: 1px solid #ddd;
}

h1 {
  margin-top: 0;
}
